@import url("https://raw.githack.com/kretcee/DarkerDiscord/main/krettweaks.css"); /* my fixes */
@import url("https://Goose-Nest.github.io/GT-RevertRebrand/src/components/wordmark.css"); /* old discord text */
@import url("https://maendisease.github.io/BetterDiscordStuff/css/ProfileBannerSkins.css");

:root {
  --mention-hue: 10000; /* change mention bg */
  --color-brand-lighter: #4373c5; /* Discord Message box */
  --brand-experiment: #2f3136;
  --background-primary: #141414;
  --background-secondary: #111111;
  --background-secondary-alt: #0c0c0c;
  --background-tertiary: #0d0d0d;
  --background-accent: #2b2e33;
  --background-floating: #18191c;
  --background-modifier-hover: #292c31;
  --background-modifier-active: #292c31;
  --background-modifier-selected: #292c31;
  --background-modifier-accent: #292c31;
  --scrollbar-thin-thumb: #202225;
  --scrollbar-auto-thumb: #0c0c0c;
  --scrollbar-auto-track: #292c31;
  --scrollbar-auto-scrollbar-color-thumb: #202225;
  --scrollbar-auto-scrollbar-color-track: #2f3136;
  --channeltextarea-background: #202225;
  --activity-card-background: #202225;
  --background-mobile-primary: #36393f;
  --background-mobile-secondary: #2f3136;
  --font-display: var(--font-primary);
}

/* friends list bg */
.peopleColumn-1wMU14 {
  background-color: #202225;
}

/* server creator */
.theme-dark .footer-31IekZ,
.container-36u7Lw,
.container-x8Y1ix {
  background-color: #0b0c0d;
}
.base-21yXnu,
.contents-3ca1mk {
  color: white;
}

/* server creator button */
.circleIconButton-1VxDrg.selected-2r1Hvo {
  background-color: gray;
}
.circleIconButton-1VxDrg {
  color: gray;
}

/* Fix/Unclamp the About Me section, so it's not limited to just 6 lines. */
.clamped-2ZePhX {
  -webkit-line-clamp: 190; /*Maximum amount of characters as new lines, unset just breaks links*/
  max-height: 150px;
  overflow-x: hidden;
  overflow-y: scroll;
}
.clamped-2ZePhX::-webkit-scrollbar {
  display: none;
}

/* Hide some buttons in user context menu */
#user-context-invite-to-server,
  #user-context-call,
  #user-context-add-friend,
  #user-context-voice-move,
  #user-context-invite-to-listen,
  #user-context-roles,
  #guild-context-privacy,
  
  
  /* hide the ? on left top */
  [aria-label*='Help'],
  
  
  /* text bar */
  #textarea-context-sticker-suggestions,
  .separator-1So4YB,
  #textarea-context-spellcheck,
  #textarea-context-submit-button,
  #Suggestions,
  [aria-label*='Open sticker picker'],
  [href="/store"],
  [aria-label*='Send a gift'],
  #channel-attach-SLASH_COMMAND,
  
  /* Removes Chatbox from channel that don't allow you to communicate */
  .channelTextAreaDisabled-1p2fQv,
  
  
  /* Removes Follow banner on bottom of channels */
  .wrapper-2SplAX {
  display: none;
}

/* Hide explore public servers button*/
.tutorialContainer-2jwoiB + .listItem-3SmSlK {
  display: none;
}

/* Dm friends bar */
.container-ZMc96U.themed-Hp1KC_ {
  background: #111111;
}

/* Pinned messages bg fix */
.messagesPopoutWrap-3zryHW,
.header-1w9Q93,
.footer-5ji8u1,
.messageGroupWrapper-1jf_7C {
  background-color: #0c0c0c;
}

/* Emoji Picker bg fix */
.header-11eigE,
.wrapper-1NNaWG,
.header-1ULbqO,
.listWrapper-2nHLP8,
.inspector-DFKXwB,
.inspector-2A2Chb,
[aria-label="Scroll to Unicode emoji"],
.scroller-2MALzE,
.list-obNEuP,
.none-2-_0dP,
.standardStickerShortcut-ObSns3,
.contentWrapper-3vHNP2,
.bodyWrapper-1eSOtW,
.wrapper-22rqw6 .categoryList-2qRrlj {
  background-color: #0c0c0c;
}

/* Fix inbox */
.channelHeader-DFRX8q,
.container-nwU-8G,
.messageContainer-3VTXBC {
  background-color: #0c0c0c;
}

/* Forum fix */
.list-3FIpnh {
  background-color: #202225;
}

.rolePill-2IJ1vo {
  border: none;
}
