@import url('https://mwittrien.github.io/BetterDiscordAddons/Themes/BlurpleRecolor/BlurpleRecolor.css'); 
@import url("https://Goose-Nest.github.io/GT-RevertRebrand/src/components/wordmark.css"); /* old discord titlebar */
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;500;600;700&display=swap');


button {
	--accentcolor: var(--accent-alt);
}

:root {
    --font-primary: 'Karla', sans-serif;
    --font-display: var(--font-primary) !important;
    --black: 0, 0, 0;
    --white: 255, 255, 255;	
    --font-display: var(--font-primary);
    /* BlurpleRecolor */
	--accentcolor: var(--accent);
	--vaccentcolor-hover: rgb(var(--accent));
	--vaccentcolor-active: rgb(var(--accent));
    --background-solid: #0a0a0a;
    --background-solid-dark: #0c0c0c;
    --background-solid-darker: #0a0a0a;
    --background-modifier-hover: #292C31;
    --background-modifier-active: #292C31;
    --background-modifier-selected: #292C31;
    --background-modifier-accent: #292C31;
    --background-mobile-secondary: #2f3136;
    --channeltextarea-background: #202225;
    --activity-card-background: #202225;
    --background-primary: #18191c;
    --background-floating: #18191c; 
    --background-mobile-primary: #36393f;

}

.theme-dark,
.theme-light {
	/* Discord vars */
    --channeltextarea-background: transparent;
	--background-primary: var(--background-solid);
    --background-tertiary: var(--background-solid); 
    --background-secondary: var(--background-solid-dark);
	--background-mobile-primary: var(--background-primary);
	--background-mobile-secondary: var(--background-secondary);
	--background-accent: var(--background-solid);
    --background-secondary-alt: rgba(var(--black), 0.3);
	--activity-card-background: rgba(var(--white), 0.05);
	--background-modifier-hover: rgba(var(--black), 0.3);
	--background-modifier-active: rgba(var(--black), 0.3);
	--background-modifier-selected: rgba(var(--black), 0.6);
	--elevation-low: inset 0 -1px 0 0 rgba(var(--black), 0.3);
	--background-message-hover: rgba(var(--black), 0.2);
    --channels-default: rgba(var(--white), 0.5);
	--header-primary: rgba(var(--white), 1);
	--header-secondary: rgba(var(--white), 0.6);
	--interactive-muted: rgba(var(--white), 0.2);
	--interactive-normal: rgba(var(--white), 0.5);
	--interactive-hover: rgba(var(--white), 0.75);
	--text-normal: rgba(var(--white), 0.8);
	--text-muted: #8a8e94;
	--text-link: rgba(var(--accent), 1);
	--focus-primary: rgba(var(--accent), 0.5);
}


/* Scrollbars */
 ::-webkit-scrollbar-thumb {
	border-radius: 10px !important;
	background-color: rgba(var(--accent-alt), 1) !important;
}

 ::-webkit-scrollbar-track {

	visibility: visible !important;
	border-radius: 8px !important;
	border: 5px solid transparent !important;
	background-color: rgba(0, 0, 0, 0.3) !important;
	background-clip: padding-box !important;
}

.none-2Eo-qx::-webkit-scrollbar {

	display: none !important;
}


/* Codeblocks */

html pre {
	border-radius: 0;
	background: transparent;
	border-color: rgba(255, 255, 255, 0.1);
}

pre code.hljs {
	border: none;
	background-color: rgba(var(--white), 0.03);
	color: rgba(var(--white), 0.7);
	padding: 1em;
}

html code.inline,
html code.inline {
	background: rgba(var(--white), 0.1);
	color: rgba(var(--white), 0.7);
	padding: 0.3em 0.6em;
	border-radius: 3px;
}

.none-2Eo-qx::-webkit-scrollbar {
	display: none !important;
}


/* Titlebar */

div[class*="typeWindows-"]>div:first-child {
    color: var(--text-link);
	background: rgba(var(--black), 0.95);
    font-weight: 5000;
	line-height: 40px;
	padding: 0 12px;
	top: 0;
	left: 0;
	width: 100%;
	height: 22px;
	z-index: -1;
}

div[class*="typeWindows-"]>div[role="button"] {
	height: 25px;
	width: 36px;
}


/* Header */

section[class*="themed-"] {
	height: 48px;
	box-shadow: var(--elevation-low);
	--background-secondary: rgba(var(--white), 0.1);
}

section[class*="themed-"]::before,
section[class*="themed-"] ::after {
	content: none;
}

section div[class^="toolbar"]>div[role] {
	margin: 0 3px;
	transition: 150ms ease;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 3px;
	width: 28px;
	height: 28px;
}

section div[class^="toolbar"]>div[role][class*="selected-"] {
	background-color: rgba(var(--white), 0.1);
}


/* Crash Page */

div[class*="errorPage"] {
	--background-secondary: rgba(var(--black), 0.7) !important;
}


/* Settings */

div[aria-label*="_SETTINGS"],
div[aria-label*="_DEBUG"] {
	--background-primary: transparent;
	--background-secondary: rgba(var(--black), 0.7);
}

div[class^="sidebarRegionScroller-"]>nav {
	--background-secondary: transparent;
}

div[class^="contentRegion-"] {
	--background-primary: rgba(var(--black), 0.8);
}

div[class^="contentRegion-"] div[style^="overflow: hidden scroll"] {
	background-color: transparent;
	--background-primary: rgba(var(--black), 0.1);
	--background-secondary: rgba(var(--black), 0.2);
	--background-secondary-alt: rgba(var(--black), 0.25);
	--background-tertiary: rgba(var(--white), 0.1);
}

div[aria-label*="_SETTINGS"] aside>div {
	--background-primary: transparent;
}

div[aria-label*="_SETTINGS"] aside>div::-webkit-scrollbar-track {
	visibility: hidden !important;
}

.bd-addon-list {
	--background-secondary: var(--background-solid);
	--background-secondary-alt: var(--background-solid-dark);
}


/* Tab Bar */

div[class*="topPill"],
nav>div[role="tablist"],
.bd-tab-bar {
	--background-accent: rgba(var(--accent));
	--background-modifier-hover: rgba(var(--white), 0.05);
	--background-modifier-active: rgba(var(--white), 0.075);
	--background-modifier-selected: rgba(var(--accent), 0.25);
}


/* Context Menu */

div[role="menuitem"] {
	--vaccentcolor: var(--accent-alt);
}

div[role="menuitem"]:active {
	--vaccentcolor: var(--accent);
}


/* Login Page */

div[class^="splashBackground"] canvas,
div[class^="splashBackground"] img {
	display: none;
}


/* USRBG */

.userPopout-3XzG_A {
	overflow: hidden;
	transform: translateZ(0) !important;
	--USRBG-banner-height: 60px;
}

.userPopout-3XzG_A[style*="-user-"] {
	--USRBG-banner-height: 120px;
	--USRBG-avatar-offset: 76px;
}

.userPopout-3XzG_A[style*="-user-"] .profileBanner-33-uE1 {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: var(--user-popout-position, center) center;
	background-image: var(--user-background);
}

.userPopout-3XzG_A[style*="-user-"] .profileBanner-33-uE1 {
	height: var(--USRBG-banner-height, 120px);
}

.userPopout-3XzG_A[style*="-user-"] .avatarWrapperNormal-2tu8Ts {
  	top: var(--USRBG-avatar-offset, 76px);
}

.userPopout-3XzG_A:not([style*="-user-"]) .avatar-22FtUu,
.userPopout-3XzG_A:not([style*="-user-"]) .avatarHint-1E3LMl{
	z-index: 1;
}

.userPopout-3XzG_A:not([style*="-user-"]) .avatar-22FtUu::after {
	content: '';
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: -1;
	height: var(--USRBG-banner-height, 60px);
	pointer-events: none;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: var(--user-popout-position, center) center;
	background-image: var(--user-background);
}


/* Guilds */

ul[data-list-id='guildsnav'] {
	--background-secondary: var(--background-solid);
    --background-primary: rgba(var(--white), 0.1);
	background-color: rgba(var(--black), 0.90);
	border-right: 1px solid rgba(var(--black), 0.2);
	box-shadow: inset -10px 0px 20px -10px rgba(var(--black), 0.3);
}

ul[data-list-id='guildsnav']>div[dir] {
	padding-top: 15px;
}

ul[data-list-id='guildsnav'] div[style*="height: 56"],
ul[id^="folder-items-"] {
	height: auto !important;
}

[data-list-id='guildsnav'] [class^="pill-"] span[style^="opacity: 1; height: 40"] {
	--header-primary: rgba(var(--accent), 1);
}

span[class^="expandedFolderBackground-"] {
	--background-secondary: rgba(var(--black), 0.3);
}

div[data-list-item-id="guildsnav___create-join-button"],
div[data-list-item-id="guildsnav___guild-discover-button"] {
	transition: 150ms ease;
	opacity: 0.5;
	background-color: var(--background-solid) !important;
	color: rgba(var(--white), 0.3) !important;
	border: 1px dashed rgba(var(--white), 0.3);
	border-radius: 50px;
}

div[data-list-item-id="guildsnav___create-join-button"]:hover,
div[data-list-item-id="guildsnav___guild-discover-button"]:hover {
	opacity: 1;
}

div[data-list-item-id="guildsnav___home"] {
	background: var(--home-image) top center/110% no-repeat;
}

div[class^="unreadMentionsIndicatorBottom-"] {
	bottom: 70px;
}

#app-mount [data-list-item-id="guildsnav___home"]>div {
	color: transparent;
	background-color: transparent;
}


/* Sidebar */

.platform-win [class^="sidebar-"] {
	border-radius: 0;
}

div[class^="sidebar-"] nav,
#private-channels {
	background-color: transparent;
	--background-tertiary: rgba(var(--black), 0.35);
}

div[class^="sidebar-"]>nav>div[class^="searchBar"] {
	height: 54px;
}


/* Outer containers */

body {
	background: var(--background-image) center/cover no-repeat;
}

#app-mount {
    background-color: transparent;
	--background-tertiary: transparent;
	--background-secondary: transparent;
}

#app-mount>div[class^="appDevToolsWrapper-"] {
	--background-primary: transparent;
	--background-tertiary: transparent;
	--background-secondary: rgba(var(--black), 0.7);
	background-color: rgba(var(--black), 0.4);
}

nav+div [class^='sidebar-'],
nav+div[class^='base-'] {
	overflow: visible !important;
	position: relative;
	max-width: calc(100% - 72px);
}

nav+div[class^='base-'] > div[class^="notice"] {
	border-radius: 0;
}

div[class^='base-']>div,
section[class*="themed-"] {
	--background-secondary: rgba(var(--black), 0.83);
	--background-tertiary: rgba(var(--white), 0.1);
	--background-primary: rgba(var(--black), 0.7);
}

#app-mount>div:not([class^="appDevToolsWrapper-"]),
.autocomplete-1vrmpx {
	--background-primary: var(--background-solid);
	--background-secondary: var(--background-solid-dark);
	--background-secondary-alt: var(--background-solid-darker);
	--background-tertiary: var(--background-solid-darker);
}


/* Tooltips */

div[class^="tooltip-"] {
	--background-floating: rgba(var(--accent-alt), 0.5);
	--text-normal: #e0e0e0;
}


/* Buttons */

button[class*="button-"][class*="color"],
.bd-button {
	--vaccentcolor: var(--accent-alt);
}

.bd-button {
	--bd-blue: rgba(var(--accent-alt), 1);
}


/* Depreceated Components */

#app-mount .footer-2gL1pp,
#app-mount .footer-3mqk7D {
	background-color: var(--background-secondary);
	box-shadow: none;
}

#app-mount .root-1gCeng,
#app-mount .addGamePopout-2RY8Ju,
#app-mount .keyboardShortcutsModal-3piNz7,
#app-mount .emojiAliasInput-1y-NBz .emojiInput-1aLNse,
.perksModal-fSYqOq .perk-2WeBWW,
#app-mount .uploadModal-2ifh8j,
#app-mount .contentWrapper-3WC1ID,
#app-mount .contentWarningPopout-n5JsIs {
	background-color: var(--background-primary);
}

#app-mount .codeRedemptionRedirect-1wVR4b,
#app-mount .userSettingsVoice-iwdUCU .previewOverlay-2O7_KC,
#app-mount .inset-3sAvek {
	background-color: var(--background-tertiary);
	border: none;
}

#app-mount .paymentPane-3bwJ6A,
#app-mount .tierBody-x9kBBp,
#app-mount .tierBody-16Chc9,
#app-mount .barBackground-2EEiLw,
#app-mount .body-3iLsc4,
#app-mount .footer-1fjuF6,
#app-mount .container-3ayLPN,
#app-mount .colorPickerCustom-2CWBn2,
#app-mount .tierMarkerBackground-3q29am,
.css-3vaxre-menu,
.css-dwar6a-menu,
#app-mount .autocomplete-1vrmpx,
.categoryHeader-O1zU94,
#app-mount .popoutList-T9CKZQ,
#app-mount .quickSelectPopout-X1hvgV,
.colorable-1bkp8v.primaryDark-3mSFDl,
.tile-2naSqK,
.videoWrapper-2v09vt,
#app-mount .spoilerText-3p6IlD.hidden-HHr2R9 {
	background-color: var(--background-solid);
}

#app-mount .expandedInfo-3kfShd,
#app-mount .tierHeaderLocked-1a2opw,
#app-mount .tierHeaderLocked-1s2JJz,
#app-mount .headerNormal-T_seeN,
#app-mount .focused-2bY0OD,
.colorable-1bkp8v.primaryDark-3mSFDl:hover {
	background-color: var(--background-solid-dark);
}

#app-mount .payment-xT17Mq {
	background-color: transparent;
	border-bottom-color: rgba(var(--white), 0.025);
}

#app-mount .bottomDivider-1K9Gao,
#app-mount .focused-2bY0OD {
	border-bottom-color: var(--background-solid-dark);
}

#app-mount div[data-list-id="billing-history"],
#app-mount div[data-list-id^="private-channels-"],
#app-mount .media-engine-video,
.react-datepicker,
.react-datepicker__header,
.react-datepicker__day--outside-month,
.react-datepicker__day--disabled,
div[data-list-id^="members-"],
div[data-list-id^="members-"]>div {
	background-color: transparent !important;
}

.react-datepicker__day--disabled {
	opacity: .6;
}

#app-mount .react-datepicker__day {
	border-top-color: var(--background-secondary);
	border-left-color: var(--background-secondary);
}

#app-mount .background-3xPPFc,
#app-mount .tierInProgress-3mBoXq {
	color: var(--background-solid);
}

.option-96V44q:after {
	content: none;
}

#app-mount .option-96V44q.selected-rZcOL-,
#app-mount .selected-1Tbx07,
#app-mount .quickSelectPopoutOption-opKBx9:hover,
#app-mount .outer-1AjyKL.active-1xchHY,
#app-mount .outer-1AjyKL.interactive-3B9GmY:hover {
	background-color: var(--background-modifier-hover);
}

.css-3vaxre-menu,
.tierMarker-5HkGJ_[style] {
	border-color: rgba(var(--white), 0.025) !important;
}

#app-mount .searchAnswer-3Dz2-q,
#app-mount .searchFilter-2ESiM3,
#app-mount .option-1B5ZV8,
#app-mount .pill-2pQByF {
	background-color: rgba(var(--accent-alt), 1);
	color: #fff;
}

#app-mount .keybindShortcut-1BD6Z1 span {
	background: var(--background-solid-dark);
	box-shadow: inset 0 -4px 0 var(--background-solid-darker);
}

#app-mount .perksModal-fSYqOq {
	background: rgba(var(--black), 0.7);
}

#app-mount .card-FDVird:before {
	background: var(--background-modifier-hover);
	border: none;
}


/**
██╗  ██╗██████╗ ███████╗████████╗
██║ ██╔╝██╔══██╗██╔════╝╚══██╔══╝
█████╔╝ ██████╔╝█████╗     ██║   
██╔═██╗ ██╔══██╗██╔══╝     ██║   
██║  ██╗██║  ██║███████╗   ██║   
╚═╝  ╚═╝╚═╝  ╚═╝╚══════╝   ╚═╝   tweaks.
**/


/*  change mention bg color */
/* Makes it purple, you can change the values */
.mentioned-Tre-dv .repliedMessage-3Z6XBG:before{
    border-color:hsla(var(--mention-hue), 100%, 50%);
  }
  .mentioned-Tre-dv,.mouse-mode.full-motion .mentioned-Tre-dv:hover,.message-2CShn3.mentioned-Tre-dv.selected-2LX7Jy{
  background-color:hsla(var(--mention-hue), 100%, 50%,0.1);
  }
  .mentioned-Tre-dv:before,.menu-1QACrS:before{
  background-color:hsla(var(--mention-hue), 100%, 50%);
  }
  

  /* bottom left size */
  /* You might wanna remove this if your monitor is big */
  .container-YkUktl {
    height: 39px;
  }
  

  /* Minified search bar */
  .search-2Mwzzq:not(.open-1F8u2c) .searchBar-jGtisZ {width: 27px; transition: var(--transitionspeed); background-color: transparent;}
  .search-2Mwzzq:not(.open-1F8u2c):hover .searchBar-jGtisZ {width: 240px; background-color: var(--background-tertiary);}
  .search-2Mwzzq:not(.open-1F8u2c) .iconContainer-1RqWJj {transform: scale(1.3); transition: var(--transitionspeed);}
  .search-2Mwzzq:not(.open-1F8u2c):hover .iconContainer-1RqWJj {transform: scale(1);}
  .search-2Mwzzq:not(.open-1F8u2c) .icon-18rqoe {color: var(--text-normal);}
  .search-2Mwzzq:not(.open-1F8u2c):hover .icon-18rqoe {color: var(--text-muted);}
  

  /* better looking bot tags */
  .botTag-7aX5WZ {
    padding-right: 0;
    background: transparent;
  }
  .botTag-7aX5WZ .botText-1fD6Qk:not(:only-child) {
    display: none;
  }
  .botTag-7aX5WZ .botTagVerified-2KCPMa {
    border-radius: 50%;
    background: var(--brand-experiment);
  }
  
  
  /* Rounded Context Menu */
  .menu-1QACrS, .colorDefault-CDqZdO { 
      border-radius: 15px; 
  }
  

  /* edited text */
  .timestamp-p1Df1m:not(.timestampInline-_lS3aK, .timestampVisibleOnHover-9PEuZS) time::after {
          content: " (" attr(aria-label) ")";
          color: var(--text-muted);
          font-size: 0.625rem;
          font-weight: 400;
          line-height: 1;
          text-transform: lowercase;
  }
  
  .edited-1v5nT8:not(.message-translate-indicator) {
      display: none;
  }
  

  /* Role background */
  .role-2TIOKu {
      transform: translate(0);
      overflow: hidden;
  
      --transparency: .4;
      border-radius: 5px;
  }
  .role-2TIOKu .roleRemoveIcon-387wKV {
      margin: 0;
      left: unset;
      transform: translate(50%,-50%);
  }
  .role-2TIOKu .roleRemoveButton-17oXnT {
      position: static;
  }
  .role-2TIOKu .roleCircle-3K9O3d:before {
      content: '';
      top: 0;
      left: 0;
      z-index: -1;
      width: 100%;
      height: 100%;
      position: absolute;
      background: inherit;
      opacity: var(--transparency);
  }
  
  
  /* Hide some buttons in user context menu */
  #user-context-invite-to-server,
  #user-context-call,
  #user-context-add-friend,
  #user-context-voice-move,
  #user-context-invite-to-listen,
  #user-context-roles,
  #guild-context-privacy,
  
  
  /* hide the ? on left top */
  [aria-label*='Help'],
  
  
  /* text bar */
  #textarea-context-sticker-suggestions,
  .separator-1So4YB,
  #textarea-context-spellcheck,
  #textarea-context-submit-button,
  #Suggestions,
  [aria-label*='Open sticker picker'],
  [href="/store"],
  [aria-label*='Send a gift'],
  #channel-attach-SLASH_COMMAND,
  

  /* Removes Chatbox from channel that don't allow you to communicate */
  .channelTextAreaDisabled-1p2fQv,
  
  
  /* Removes Follow banner on bottom of channels */
  .wrapper-2SplAX {display: none;}

.theme-dark .autocomplete-3NRXG8, .list-obNEuP {
    background-color: var(--background-solid);

}