/**
 * @name DDiscord-MK2
 * @version 1.1
 * @author Kret#0591
 * @authorId 438053266585026560
 * @description 🎨 An actual Darker Discord theme 
 * @source https://github.com/kretcee/DarkerDiscord
**//**
██╗  ██╗██████╗ ███████╗████████╗
██║ ██╔╝██╔══██╗██╔════╝╚══██╔══╝
█████╔╝ ██████╔╝█████╗     ██║   
██╔═██╗ ██╔══██╗██╔══╝     ██║   
██║  ██╗██║  ██║███████╗   ██║   
╚═╝  ╚═╝╚═╝  ╚═╝╚══════╝   ╚═╝   
**/

@import url(https://raw.githack.com/kretcee/DarkerDiscord/main/DDiscord-MK2_main.css);

:root { /* you can change these */
    --accent: 120, 0, 233;
    --accent-alt: 192, 0, 250;
    --avatar-size: 50px;
    --mention-hue: 10000; /* change mention bg */
    --background-image: url('https://i.imgur.com/QN3UY2f.jpeg');
    --home-image: url('https://i.imgur.com/52p3EbN.png');
}