/**
██╗  ██╗██████╗ ███████╗████████╗
██║ ██╔╝██╔══██╗██╔════╝╚══██╔══╝
█████╔╝ ██████╔╝█████╗     ██║   
██╔═██╗ ██╔══██╗██╔══╝     ██║   
██║  ██╗██║  ██║███████╗   ██║   
╚═╝  ╚═╝╚═╝  ╚═╝╚══════╝   ╚═╝   tweaks.
**/

/*  change mention bg color */
/* Makes it purple, you can change the values */
.mentioned-Tre-dv .repliedMessage-3Z6XBG:before {
  border-color: hsla(var(--mention-hue), 100%, 50%);
}
.mentioned-Tre-dv,
.mouse-mode.full-motion .mentioned-Tre-dv:hover,
.message-2CShn3.mentioned-Tre-dv.selected-2LX7Jy {
  background-color: hsla(var(--mention-hue), 100%, 50%, 0.1);
}
.mentioned-Tre-dv:before,
.menu-1QACrS:before {
  background-color: hsla(var(--mention-hue), 100%, 50%);
}

/* bottom left size */
/* You might wanna remove this if your monitor is big */
.container-YkUktl {
  height: 39px;
}

/* Minified search bar */
.search-2Mwzzq:not(.open-1F8u2c) .searchBar-jGtisZ {
  width: 27px;
  transition: var(--transitionspeed);
  background-color: transparent;
}
.search-2Mwzzq:not(.open-1F8u2c):hover .searchBar-jGtisZ {
  width: 240px;
  background-color: var(--background-tertiary);
}
.search-2Mwzzq:not(.open-1F8u2c) .iconContainer-1RqWJj {
  transform: scale(1.3);
  transition: var(--transitionspeed);
}
.search-2Mwzzq:not(.open-1F8u2c):hover .iconContainer-1RqWJj {
  transform: scale(1);
}
.search-2Mwzzq:not(.open-1F8u2c) .icon-18rqoe {
  color: var(--text-normal);
}
.search-2Mwzzq:not(.open-1F8u2c):hover .icon-18rqoe {
  color: var(--text-muted);
}

/* better looking bot tags */
.botTag-7aX5WZ {
  padding-right: 0;
  background: transparent;
}
.botTag-7aX5WZ .botText-1fD6Qk:not(:only-child) {
  display: none;
}
.botTag-7aX5WZ .botTagVerified-2KCPMa {
  border-radius: 50%;
  background: var(--brand-experiment);
}

/* Rounded Context Menu */
.menu-1QACrS,
.colorDefault-CDqZdO {
  border-radius: 15px;
}

/* edited text */
.timestamp-p1Df1m:not(.timestampInline-_lS3aK, .timestampVisibleOnHover-9PEuZS)
  time::after {
  content: " (" attr(aria-label) ")";
  color: var(--text-muted);
  font-size: 0.625rem;
  font-weight: 400;
  line-height: 1;
  text-transform: lowercase;
}

.edited-1v5nT8:not(.message-translate-indicator) {
  display: none;
}

/* Role background */
.role-2TIOKu {
  transform: translate(0);
  overflow: hidden;

  --transparency: 0.4;
  border-radius: 5px;
}
.role-2TIOKu .roleRemoveIcon-387wKV {
  margin: 0;
  left: unset;
  transform: translate(50%, -50%);
}
.role-2TIOKu .roleRemoveButton-17oXnT {
  position: static;
}
.role-2TIOKu .roleCircle-3K9O3d:before {
  content: "";
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  position: absolute;
  background: inherit;
  opacity: var(--transparency);
}

/* Hide some buttons in user context menu */
#user-context-invite-to-server,
  #user-context-call,
  #user-context-add-friend,
  #user-context-voice-move,
  #user-context-invite-to-listen,
  #user-context-roles,
  #guild-context-privacy,
  
  
  /* hide the ? on left top */
  [aria-label*='Help'],
  
  
  /* text bar */
  #textarea-context-sticker-suggestions,
  .separator-1So4YB,
  #textarea-context-spellcheck,
  #textarea-context-submit-button,
  #Suggestions,
  [aria-label*='Open sticker picker'],
  [href="/store"],
  [aria-label*='Send a gift'],
  #channel-attach-SLASH_COMMAND,
  

  /* Removes Chatbox from channel that don't allow you to communicate */
  .channelTextAreaDisabled-1p2fQv,
  
  
  /* Removes Follow banner on bottom of channels */
  .wrapper-2SplAX {
  display: none;
}

.theme-dark .autocomplete-3NRXG8,
.list-obNEuP {
  background-color: var(--background-solid);
}

.form-3gdLxP:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 0rem;
  width: 0rem;
}
