/*mann i love ryo yamada⣿⣿⣿⣿⣿⣿⡿⠿⢿⣛⣛⣛⣭⣭⣭⣭⣭⣭⣭⣭⣭⣽⣙⣛⣛⣻⠿⠿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠿⢛⣩⣴⣶⣿⠿⠿⣛⣛⣩⣭⣭⣭⣷⣶⣶⣶⣾⣭⣭⣝⣛⡻⠿⣿⣶⣮⣝⡻⢿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡿⣋⣵⣾⠿⢛⣩⣵⣶⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣶⣬⣝⡻⢿⣷⣬⡛⢿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠟⣡⡾⢟⣩⣴⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣶⣬⡻⣿⣶⣝⠻⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⢟⣡⠞⣫⣶⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣶⣝⠻⣷⣜⢿⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣿⡟⣱⠟⣡⣾⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣷⣌⠻⣦⠻⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⢏⡴⢋⣾⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣷⡝⣧⠹⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⡿⢣⡾⣱⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡿⠿⣿⡜⢧⠹⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⡿⢡⡿⣱⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠁⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡿⢿⣿⣿⠛⣿⣿⣷⢰⡜⣿⡌⢷⠹⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⢡⡿⢱⣿⣿⢋⣴⢸⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⢇⡇⢿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡟⢿⡇⣆⢻⣿⣷⡘⣿⣿⡎⣧⢹⣿⡜⣧⢻⣿⣿⣿⣿
⣿⣿⣿⣿⢃⣿⢣⣿⣿⣇⣿⡏⣼⣿⣿⣿⢋⡍⣿⣿⣿⣿⣿⣀⢻⣿⣿⣿⡿⣾⣿⢸⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣇⠘⣿⡘⣸⣿⣿⣧⢹⣿⣿⣌⣸⣿⣷⢹⡌⣿⣿⣿⣿
⣿⣿⣿⠃⣼⡏⣾⣿⣿⡟⠟⣰⣿⣿⣿⣿⠺⢃⣿⣿⣿⣿⣿⠟⣼⣿⣿⣿⢣⣿⣿⡘⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⢹⣿⣿⣶⣿⣷⣼⣿⣿⣿⡆⢿⣿⣿⣿⣿⣿⡆⣷⢸⣿⣿⣿
⣿⡿⢡⢰⣿⢸⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣶⣿⣿⣿⡏⣸⣿⣿⡇⢿⣿⣿⣿⣿⢹⣿⣿⣿⣿⡄⣿⣿⣿⣿⣿⣿⣿⣿⣿⣷⢸⣿⣿⣿⣿⣿⣷⢹⣼⣿⣿⣿
⡟⣱⡟⣾⡇⢸⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠂⣿⣿⣿⣿⡘⣿⣿⣿⣿⠈⣿⣿⣿⣿⣷⢸⣿⣿⡿⣿⣿⣿⣿⣿⣿⡆⣿⣿⣿⣿⣿⣿⢸⣿⣿⣿⣿
⣼⣿⡇⣿⠃⢸⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡿⠿⠿⠿⠿⢿⣿⢸⣿⣿⣿⣿⣧⢹⣿⣿⡟⠂⠘⠻⠿⠿⣿⡆⢿⣿⡇⢿⣿⣿⣿⣿⣿⣧⢸⣿⣿⣿⣿⣿⡘⡇⣿⣿⣿
⣿⣿⢷⣿⠀⢸⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡖⢿⣿⣿⣿⣿⡏⢸⣿⣿⣿⣿⣿⡆⢻⣿⣿⡇⢧⠹⣿⣿⣿⣧⠈⣿⣿⢸⣿⣿⣿⣿⣿⣿⠸⣿⣿⣿⣿⣿⣧⠹⡜⢿⣿
⣿⣿⢸⡿⢀⢸⣿⣿⣿⣿⣿⣿⣿⡇⣿⣿⣿⣿⣿⣿⠇⢸⣿⣿⣿⣿⡇⣾⣿⣿⣿⣿⣿⣿⡌⢿⣿⣿⢸⣧⢻⣿⣿⣿⡐⡜⢿⠸⣿⣿⣿⣿⣿⣿⡇⣿⣿⣿⣿⣿⣿⣷⣝⠦⣝
⣿⣿⡘⡇⣿⠸⣿⣿⣿⣿⣿⣿⣿⡇⢻⣿⣿⣿⣿⣿⡆⡌⣿⣿⣿⣿⡇⣿⣿⣿⣿⣿⣿⣿⣿⡌⢿⣿⡈⣿⣆⢻⣿⣿⡇⣿⡌⠄⣿⣿⣿⣿⣿⣿⡀⢿⣿⣿⣿⣿⣿⣿⣿⣷⣮
⣿⣿⡇⡇⣿⡇⢿⣿⣿⡟⣿⣿⣿⣿⢸⣿⣿⣿⣿⣿⡇⣇⢻⣿⣿⣿⡇⢿⣿⣿⣿⣿⣿⣿⣿⣿⣌⢻⡇⣿⣿⣦⢻⣿⣧⢸⣿⡆⣿⣿⣿⣿⣿⣿⣇⣄⢿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣷⠃⣿⠇⡘⣿⣿⣇⣿⣿⣿⣿⣿⣿⠿⠿⠿⠿⠇⠿⠸⠿⠿⠿⢇⢸⣿⣿⣿⣿⣿⣿⣿⣿⠿⠦⠃⠿⠿⠿⠧⠙⠿⠸⠿⡇⣿⢻⣿⣿⣿⣿⣇⣿⠠⡙⢿⣿⣿⣿⡏⠙⣿
⣿⣿⣿⡆⠋⢸⣷⡘⣿⣿⢻⣿⣿⣿⡟⢯⣤⠀⣤⣤⡄⠀⠀⠤⡤⠠⠌⢸⣿⣿⣿⣿⣿⣿⣿⣯⠄⠀⣀⣀⣀⣀⡀⠀⠀⣠⣬⡅⣿⢸⣿⣿⣿⣿⡇⠇⢸⣿⡈⣿⣿⣿⢰⣇⢻
⣿⣿⡟⠡⢊⡄⢿⣷⠌⢿⢸⣿⣿⣿⣇⣈⢉⣀⣉⡩⠥⠶⣶⣀⣠⣾⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣄⡀⠴⠶⠶⠶⠦⣀⣴⢿⣿⢣⣿⢸⣿⣿⣿⣿⡇⢀⣿⣿⡇⣿⡿⣣⣿⣿⢸
⣿⣿⣿⣿⣿⣿⣮⡛⢰⣄⠸⣿⡿⢟⣫⣵⢸⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣧⣤⣿⢸⡇⣸⣿⣿⣿⣿⠇⠛⣿⣿⡇⣋⣼⣿⣿⡏⢫
⣿⣿⣿⣿⣿⣿⣿⣿⣶⣄⢀⣴⠾⢛⣩⣴⢸⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠇⡾⠀⣿⣿⠿⢛⢛⣠⠤⢟⣡⣾⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡌⣴⣾⣿⠿⢛⡸⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠟⠘⡀⠀⣡⣶⣾⣿⣿⣿⣼⣿⣟⣻⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡇⢛⣩⣴⠞⣫⣤⡌⣙⠛⠿⠿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡿⠿⠛⢉⣠⣴⡆⣡⣾⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡇⢛⣩⣴⣿⣿⣿⠇⣿⣷⡙⠀⣦⣌⠉⢟⣛⠛⠛⠿⢿⣿⡿⠟⣛⣿⠋⠉⠉⠀⡀⠀⠀⠈⠋⠈⠆⠹⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⢸⡿⢻⣿⠟⣡⣾⣿⣿⣿⣤⣿⣿⡿⠂⠀⠀⢰⡆⡀⠀⢺⣿⣿⡟⢀⠀⠀⢰⣿⠀⢀⣠⡄⠈⠀⢥⣼⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⢸⡇⣄⣥⣾⣿⣿⣿⣿⣿⣿⡿⢫⣤⣄⣀⠀⢻⡿⢠⣤⠀⠹⠟⣠⣿⣤⠈⢾⣿⠎⠘⣋⣤⣴⣶⣶⡌⢿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣆⣴⣿⣿⣿⣿⣿⣿⣿⣿⡿⢱⣿⣿⣿⣿⣷⡄⠃⣼⣿⣿⣦⣴⣿⣿⣿⣿⣌⠃⣴⣿⣿⣿⣿⣿⣿⣿⡆⢿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⢃⡿⠀⣬⣍⣛⣛⣛⣂⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣷⣬⣛⣛⣛⣛⣛⡋⢹⣿⡌⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡟⣸⡇⢰⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡇⢸⣿⣷⢹⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿*/

/*cee css*/
@import url("https://raw.githubusercontent.com/ceeprus/discordDark/main/theme.css");
/* a */
@import url("https://minidiscordthemes.github.io/Snippets/RoleTint/main.css");
@import url("https://aushevahmad.github.io/awesome-css/modules/vc-membercount.css");
/* font*/
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*spotify*/
@import url("https://raw.githubusercontent.com/tom22k/discord-css/main/Themes/AndroidPlayer.css");
/*bisiler bisiler*/
@import url("https://raw.githubusercontent.com/Andrew6rant/Discord-plugins-and-themes/refs/heads/main/BetterMessageButtons.theme.css");

/*root ████████████*/
:root {
	/* font, change to 'gg sans' for default discord font*/
	--font: 'figtree';

	--font-primary: var(--font), 'Noto Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	--font-display: var(--font), 'Noto Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;

	--corner-text: 'Asopusun güzeller güzeli kızı';

	/* renkler ████████████*/
	--snpc-S1: hsl(325, 40%, 10%);

	--snpc-00: hsla(330, 22%, 10%, 0.5);
	--snpc-01: hsl(333, 20%, 10%);
	--snpc-02: hsl(333, 30%, 20%);
	--snpc-03: hsl(333, 40%, 30%);
	--snpc-04: hsl(333, 50%, 40%);
	--snpc-05: hsl(333, 60%, 50%);
	--snpc-06: hsl(333, 70%, 60%);
	--snpc-07: hsl(333, 80%, 70%);
	--snpc-08: hsl(333, 90%, 80%);
	--snpc-09: hsl(333, 100%, 90%);
	
	--text-0: white; 
	--text-1: var(--text-2); 
	--text-2: hsl(0, 0%, 100%);
	--text-3: hsl(220, 15%, 72%);
	--text-4: hsl(220, 15%, 72%);
	--text-5: hsl(220, 15%, 35%); 


	/* cee */
	--theme-h: 0;
	--theme-s: 0%;
	--theme-l: 5%;
	--primary-500-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) + 11.9%);
	--primary-530-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) + 6.7%);
	--primary-560-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) + 2.9%);
	--primary-600-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) + 0%);
	--primary-630-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 2.6%);
	--primary-645-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 3.7%);
	--primary-660-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 5.9%);
	--primary-700-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 8.1%);
	--primary-730-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 9.6%);
	--primary-760-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 11.4%);
	--primary-800-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 13.3%);
	--primary-830-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 15.7%);
	--primary-860-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 18.1%);
	--primary-900-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 19.8%);
  
	/* color of links */
	--accent-1: var(--snpc-07);
	/* color of unread dividers and some indicators */
	--accent-2: var(--snpc-05);
	/* color of accented buttons */
	--accent-3: var(--snpc-04);
	/* color of accented buttons when hovered */
	--accent-4: var(--snpc-06);
	/* color of accented buttons when clicked */
	--accent-5: var(--snpc-02);
	/* color of mentions and messages that mention you */
	--mention: var(--snpc-01);
	/* color of mentions and messages that mention you when hovered */
	--mention-hover: var(--snpc-00);
  
	--brand-experiment: var(--snpc-01);
	--status-danger: var(--accent-2);

    /* küçük sunucu listesi*/
    --HSL-server-icon-size: 35px; /* Size of the server icons | DEFAULT: 40px */


    --server-size: var(--HSL-server-icon-size, var(--HSL-size, 35px));
    --server-spacing: var(--HSL-server-spacing, var(--HSL-spacing, 10px));
    --server-container: calc(var(--server-size) + 20px);

	/*animasyon ████████████*/
	--unread-bar-transition: 0.2s ease; /* unread bar moving into view transition */

	/* gerekli hocam ████████████*/
	--spacing: 7px;

	/* kenar yumusatma fln ████████████*/
	--roundness-xl: 22px; /* roundness of big panel outer corners */
	--roundness-l: 20px; /* popout panels */
	--roundness-m: 16px; /* smaller panels, images, embeds */
	--roundness-s: 12px; /* members, settings inputs */
	--roundness-xs: 10px; /* channels, buttons */
	--roundness-xxs: 8px; /* searchbar, small elements */
	
}

/* küçük sunucu listesi*/
#app-mount .guilds_a4d4d9 {
  width: var(--server-container);
}

#app-mount .guilds_a4d4d9 .svg_c5f96a,
#app-mount .guilds_a4d4d9 .wrapper_c5f96a,
#app-mount .guilds_a4d4d9 .guildsError-b7zR5H,
#app-mount .guilds_a4d4d9 .placeholderMask_f734d8 {
  width: var(--server-size);
  height: var(--server-size);
}

#app-mount .guilds_a4d4d9 [class*=listItem]:not([class*=listItemWrapper]) {
  width: var(--server-container);
}

/* renk düzenlemeleri ████████████*/
/*mikrofonun calışmıyor uyarısı*/
.notice_be03aa{
	background-color: var(--snpc-04);
}

/*uyarı cart curt (automod)*/
.automodMessage_d5deea
{
    background-color: var(--snpc-S1); 
}

.shieldIcon_cc3927 {
    color: var(--snpc-07); 
}


/*resim kaldırma butonu*/
.removeMosaicItemHoverButton_e5c1dc:hover {
    background-color: var(--snpc-04);
}


/* message logger*/
/* hoverladığında hayla kırmızı silindiği anlaşılsın*/
.messagelogger-deleted.messageListItem_d5deea .message_d5deea {
    background-color: var(--snpc-S1);
}

/* poll zımbırtıları */
.votePercentageBar_cf2c85 {
	background: var(--snpc-00);
}


/* pembe taç */
svg[aria-label="Server Owner"] {
    color: var(--snpc-07);
}

.message_d5deea.replying_d5deea.selected_d5deea, .mouse-mode.full-motion .message_d5deea.replying_d5deea:hover /* fix reply message hover */ {
	background: var(--snpc-00);
}

.numberBadge_df8943 /* dms number badge */,
.newMessagesBar_cf58b5 .barButtonBase_cf58b5 /* unread bar */,
.botTagRegular_a9e77f /* bot tag */,
.endCap_c2654d /* unread divider */,
.lookFilled_dd4f85.colorBrand_dd4f85 /* accent buttons */,
.lookFilled_dd4f85.colorBrand_dd4f85 .defaultColor__77578 /* accent buttons */,
.lookFilled_dd4f85.colorBrandNew__8872c /* accent buttons */,
.lookFilled_dd4f85.colorGreen_dd4f85 /* green buttons */,
.lookFilled_dd4f85.colorRed_dd4f85 /* red buttons */,
.lookFilled_dd4f85.colorYellow__818c3 /* yellow buttons */,
.bar_c10249 /* NEW unread pill */,
.wrapper_f90abb:hover .childWrapper_f90abb, /* default server icon text */ 
.wrapper_f90abb.selected_ae80f7 .childWrapper_f90abb /* default server icon text */,
.colorDefault_d90b3d.focused_d90b3d /* menu option hover */,
.colorDefault_d90b3d.focused_d90b3d .caret_d90b3d /* popup menu hover caret */,
.colorDefault_d90b3d:active:not(.hideInteraction_d90b3d) /* menu option active */,
.colorDefault_d90b3d:active:not(.hideInteraction_d90b3d) .caret_d90b3d /* menu option active */,
.tabBar_c2739c .addFriend_c2739c.addFriend_c2739c.addFriend_c2739c /* add friend button */,
#app-mount .button__33db6 /* notice banner button */,
.interactive:hover /* mention hover */,
.uploadIcon_f2f431 /* profile upload image */,
.focused_e1268c .userMenuUsername_e1268c .userMenuText_e1268c /* account switcher account hover */,
.dots_ce0450 /* typing dots */,
.lookOutlined_dd4f85.colorWhite_dd4f85 /* server banner buttons */,
.header_dd5a33 /* server preview mode banner */,
.live_e17fae /* streaming live */,
#app-mount .activeButton_b48941 /* member page pagination button */ ,
#app-mount .tooltipBrand_b6c360 /* member page filter tooltip */,
.button_adcaac.buttonColor_adcaac.buttonActive_adcaac /* active voice channel icons */,
.button_adcaac.buttonColor_adcaac.buttonActive_adcaac:hover /* active voice channel icons */,
.vcd-screen-picker-radio[data-checked="true"] .defaultColor_a595eb /* vencord stream resolution picker buttons when active */,
.icon_c07d45 /* streaming activity type icon  */,
.theme-dark .tooltipGreen_b6c360, .theme-light .tooltipGreen_b6c360 /* tooltip text like vc latency */ {
	color: var(--text-0);
}

/* change online indicator color ████████████*/
rect[fill='#23a55a'],
svg[fill='#23a55a'] {
	fill: var(--snpc-08) !important;
}
.status_c7d26b[style='background-color: rgb(35, 165, 90);'] {
	background-color: var(--snpc-08) !important;
}
rect[fill='#f0b232'],
svg[fill='#f0b232'] {
	fill: var(--snpc-08);
}
.status_c7d26b[style='background-color: rgb(240, 178, 50);'] {
	background-color: var(--snpc-08) !important;
}
rect[fill='#f23f43'],
svg[fill='#f23f43'] {
	fill: var(--snpc-08);
}
.status_c7d26b[style='background-color: rgb(242, 63, 67);'] {
	background-color: var(--snpc-08) !important;
}
rect[fill='#593695'],
svg[fill='#593695'] {
	fill: var(--snpc-08);
}
.status_c7d26b[style='background-color: rgb(89, 54, 149);'] {
	background-color: var(--snpc-08) !important;
}

/* window controls ████████████*/
[class^='winButton'] > svg {
	display: none;
}
[class^='winButton'] {
	background: none !important;
	top: 0;
	width: calc(24px);
	height: calc(var(--spacing) + 12px);
	margin: 0;
}
[class^='winButtonClose'] {
	padding-right: calc(var(--spacing) - 5px);
}
[class^='winButton']::after {
	content: '';
	height: 12px;
	width: 12px;
	border-radius: 12px;
}
[class^='winButton']:hover::after {
	filter: brightness(0.8);
}
[class^='winButton']:active::after {
	transform: scale(0.9);
}
[class^='winButtonClose']::after {
	background-color: var(--snpc-05) !important;
}
[class^='winButtonMinMax']:nth-child(3)::after {
	background-color: var(--snpc-04) !important;
}
[class^='winButtonMinMax']:nth-child(4)::after {
	background-color: var(--snpc-03) !important;
}

/* vencord spotify player support ████████████*/
#vc-spotify-player {
	--vc-spotify-green: var(--snpc-08);
}

/* hide unread bar on hover ████████████*/
.messagesWrapper_e2e187 {
	overflow: hidden;
}
.newMessagesBar_cf58b5 {
	top: -48px;
	height: 72px;
	transition: top var(--unread-bar-transition);
	background: none;
	box-shadow: none;
	border-radius: 0;
}
.newMessagesBar_cf58b5::before {
	content: '';
	background: var(--accent-3);
	width: 100%;
	position: absolute;
	height: 32px;
	border-radius: 10px;
}
.newMessagesBar_cf58b5:hover {
	top: -12px;
}
.top_eba0ba > .containerPadding_eba0ba {
	padding: 16px;
	margin-top: -40px;
	transition: margin-top var(--unread-bar-transition);
}
.top_eba0ba:hover > .containerPadding_eba0ba:hover {
	margin-top: -12px;
}
.bottom_eba0ba > .containerPadding_eba0ba {
	padding: 16px;
	margin-bottom: -40px;
	transition: margin-bottom var(--unread-bar-transition);
}
.bottom_eba0ba > .containerPadding_eba0ba:hover {
	margin-bottom: -12px;
}

/* custom dm button moon icon ████████████*/
.childWrapper_f90abb > svg:not(.favoriteIcon_dcc7a4) {
	display: none;
}

/* custom dm button background instead of icon */
.childWrapper_f90abb:has(> svg:not(.favoriteIcon_dcc7a4)) {
	background: url('https://cdn.discordapp.com/emojis/1085365741685047306.gif?size=128&quality=lossless');
	background-color: transparent !important;
	background-size: cover;
} 

/* top corner title ████████████*/
[class^='wordmarkWindows'] {
	padding: 4px var(--spacing);
}
[class^='wordmarkWindows'] > svg {
	display: none;
}
[class^='wordmarkWindows']::after {
	content: var(--corner-text);
	display: block;
	position: relative;
	height: 16px;
	line-height: 16px;
	font-family: var(--font);
	font-size: 13px;
	font-weight: 900;
	color: var(--text-5);
	transform: scaleX(1.2);
	margin-left: 12px;
}

/* rearrange toolbar ████████████*/
a[href="https://support.discord.com"] /* hide help */
{
	display: none;
}
.search_ff5f90 {
	order: 1;
	margin: 0 4px 0 12px;
}
.chat_a7d72e:has(.searchResultsWrap_c2b47d) .searchBar_a46bef {
	width: 394px !important;
	margin-left: calc(var(--spacing) + 8px);
}
.chat_a7d72e:has(.userPanelOuter_c69a7b) .searchBar_a46bef {
	width: 316px !important;
	margin-left: calc(var(--spacing) + 8px);
}
.chat_a7d72e:has(.membersWrap_cbd271) .searchBar_a46bef {
	width: 216px !important;
	margin-left: calc(var(--spacing) + 8px);
}


/*i'm new here, say hi! ████████████*/
[class*=newMemberBadge]:before {
    content: url(https://raw.githubusercontent.com/Sepultrex/discordCss/refs/heads/main/img/ryo-hi.gif?size=64&quality=lossless);
    transform: translate(-100%, -110%);
    display: inline-block;
    scale: 0.32;
}

/* ryo loader ████████████*/
.container_e40c16.fixClipping_c7e9c6 > .content_e40c16 {
  position: relative;
}
.container_e40c16.fixClipping_c7e9c6 > .content_e40c16 .ready_e40c16 {
  display: none;
}
.container_e40c16.fixClipping_c7e9c6 > .content_e40c16 .ready_e40c16 + .text_e40c16 {
  top: 50px;
}
.container_e40c16.fixClipping_c7e9c6 > .content_e40c16::before {
  content: "";
  position: absolute;
  bottom: 10px;
  left: calc(50% - 100px);
  width: 200px;
  height: 200px;
  background: url("https://raw.githubusercontent.com/Sepultrex/discordCss/refs/heads/main/img/ryo-loading.gif") center/80% no-repeat !important;
  image-rendering: pixelated;
}

/* konata ████████████*/
[class^="panels_a4d4d9"]::before {
  content: "";
  width: 100px;
  height: 60px;
  left: 154px;
  margin-top: -54px;
  position: absolute;
  background-image: url("https://raw.githubusercontent.com/Sepultrex/discordCss/refs/heads/main/img/konata.gif");
}

/* bot isimleri fix ████████████*/
span[class^="botTag"] > span[class^="botText"] {
  display: inline !important;
}
span[class^="botTag"]::after {
  content: unset !important;
}

/* Custom Emoji Button ████████████*/
.sprite_d91a75.spriteColored_d91a75 {
  background-image: url(https://raw.githubusercontent.com/Sepultrex/discordCss/refs/heads/main/img/ryo-emoji-button-clicked.png);
  background-size: 24px;
}
.sprite_d91a75.spriteGreyscale_d91a75 {
  mask-image: url(https://raw.githubusercontent.com/Sepultrex/discordCss/refs/heads/main/img/ryo-emoji-button.gif);
  mask-size: 24px;
}

/* stream pip ████████████*/
div:not(:has(.videoWrapper_f8a4f3)) + .pictureInPicture_e0c856,
div:not(:has(.videoWrapper_f8a4f3)) + .pictureInPicture_e0c856 * {
    opacity: 0.95; /* Opaklık %50'ye ayarlanmıştır, istediğin değeri kullanabilirsin */
}

/* susturulmus kanalların emojileri ████████████*/
[class*="modeMuted_"]:has([class^="icon_"]) [class^="name_"] {
    color: var(--channel-icon);
    opacity: 35%;
}

/*silly vencord settings gif changer ████████████*/
img[role="presentation"] {
  content: url('https://raw.githubusercontent.com/Sepultrex/discordCss/refs/heads/main/img/ryo-idle.gif') !important;
  transform: rotate(0deg) !important;
}

[id*="popout_"]::after, [class*=menu]::after {
    content: "";
    position: absolute;
    top: -50px;
    right: 10px;
    width: 50px;
    height: 50px;
    background-image: url('https://raw.githubusercontent.com/Sepultrex/discordCss/refs/heads/main/img/ryo-peek.png');
    background-size: cover;
}

/* rapor tuşu ve yazı kopuyalama tuşunu aktif eder ████████████*/
[id="message-report"],
[id="message-copy-text"] { 
  display: flex ; 
}

/* set channel status ████████████*/
.linkBottom_d8bfb3 {
  display: block;
}

/* boş işleri gizliyoz████████████*/
/* kullanıcı sağ click*/
.wrapper_a24e84, /* emotelar*/
#message-mark-unread, /* mark unread*/
#message-actions-mark-unread,
#message-add-reaction,
#message-actions-add-reaction, /* we already have this shit lmao*/
#message-thread,
#message-actions-thread, /*thread shit*/
#message-tts, /* ew wtf*/
#message-actions-tts,
.separator_d90b3d, /* idk*/
#message-edit,
#message-reply,
#message-actions-reply,
#user-profile-overflow-menu-vc-rdb-user-reviews,
#user-profile-overflow-menu-view-profile,
#user-profile-overflow-menu-invite-to-server,
/* text channel rightclik*/
#channel-context-channel-notifications,
#channel-context-clone-channel,
/* vc rightclick*/
#channel-context-set-status,
#channel-context-open-chat,
/*user rightclick*/
#user-context-ban,
#user-context-kick,
#user-context-timeout,
#user-context-mod-view,
#user-context-vc-rdb-user-reviews,
#user-context-mention,
#user-context-view-avatar,
#user-context-view-server-avatar,
#user-context-block,
#user-context-remove-friend,
#user-context-roles,
#user-context-note,
#user-context-secure-frames-user-verification,
#user-context-verify,
#user-context-add-friend-nickname,
#user-context-apps
{
    display: none;
}

/* why would i add you as friend if im already your friend? */
[class*="biteSize_"] :is([aria-label="Friends"]) {
  display: none;
}

[class^=tooltip] /* Allow the server tooltip to fit the entire server name in one line */ {
    max-width: unset !important; /* allow it to be larger */ }

/* rainbow foldders*/
@keyframes rainbowBackgroundTransparent {
    0% { background-color: vatr; }      /* Red */
    16% { background-color: rgba(255, 165, 0, 0.4); }    /* Orange */
    33% { background-color: rgba(255, 255, 0, 0.4); }    /* Yellow */
    50% { background-color: rgba(0, 128, 0, 0.4); }      /* Green */
    66% { background-color: rgba(0, 0, 255, 0.4); }      /* Blue */
    83% { background-color: rgba(75, 0, 130, 0.4); }     /* Indigo */
    100% { background-color: rgba(238, 130, 238, 0.4); } /* Violet */
  }
  
  @keyframes rainbow {
    0% { color: rgba(255, 0, 0, 1); }      /* Red */
    16% { color: rgba(255, 165, 0, 1); }    /* Orange */
    33% { color: rgba(255, 255, 0, 1); }    /* Yellow */
    50% { color: rgba(0, 128, 0, 1); }      /* Green */
    66% { color: rgba(0, 0, 255, 1); }      /* Blue */
    83% { color: rgba(75, 0, 130, 1); }     /* Indigo */
    100% { color: rgba(238, 130, 238, 1); } /* Violet */
  }
  
  [aria-label*=gay] [class*=folderIconWrapper] {
    animation: rainbowBackgroundTransparent 5s infinite;
    transition: background-color 0.5s ease;
  }
  
  [aria-label*=gay] [class*=folderIconWrapper] svg {
    animation: rainbow 5s infinite;
    transition: color 0.5s ease;
  }

/* Better Soundboard/Emoji Picker*/
[class^=lockedEmoji_]:has(+[class*=emojiLockIconContainer_]),
[class*=categorySectionNitroLocked_] [class*=emojiItem_]>img,
[class*=soundRowNitroLocked_] [class^=soundButton_] {
  filter: grayscale(1) brightness(0.75);
}

[class^=emojiLockIconContainer_],
[class^=picker_] [class^=sectionFooter_],
:is(#emoji-picker-tab-panel, [class^=picker_]) :is(
  [class^=upsellContainer_],
  [class^=nitroBottomDivider_],
  [class^=categoryItemLockIconContainer_]
) {
  display: none;
}

#emoji-picker-tab-panel [class*=categorySectionNitroLocked_],
[class^=picker_] :is(
  [class*=sectionContainerNitroLocked_],
  [class*=soundRowNitroLocked_]
) {
  background-color: transparent;
}

#emoji-picker-tab-panel [class^=closeButton_] {
  padding: 16px 16px calc(100% - 106px) calc(100% - 40px);
  margin: 0;
}
[class^=picker_] {
  >[class^=container] [class^=closeButton_] {
    padding: 16px 16px calc(420px - 106px) calc(100% - 40px);
    margin: 0;
  }

  [class^=buttonOverlayActions_] {
    padding: 0;
  }
  [class^=secondaryButton_] {
    padding: 8px;
  }
}

#emoji-picker-tab-panel, [class^=picker_] {
  [class^=nitroTopDividerShadow_],
  [class^=nitroTopDividerLower_] {
    visibility: hidden;
  }
  [class^=nitroTopDividerLock],
  [class^=nitroTopDividerLower_] {
    background: var(--background-accent);
  }
}

/* ismi "hidefolder" olan dosyaları gizler*/
div[data-dnd-name="hidefolder"] {
    display: none !important;
}

/*clan tag shit*/
[class*="chipletContainerInner_"] > [class*="text_"] {font-size: 0}
[class*="chipletContainerInner_"] {display: inline; padding: 0 2px 0 4px;}
