/*mann i love ryo yamada⣿⣿⣿⣿⣿⣿⡿⠿⢿⣛⣛⣛⣭⣭⣭⣭⣭⣭⣭⣭⣭⣽⣙⣛⣛⣻⠿⠿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠿⢛⣩⣴⣶⣿⠿⠿⣛⣛⣩⣭⣭⣭⣷⣶⣶⣶⣾⣭⣭⣝⣛⡻⠿⣿⣶⣮⣝⡻⢿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡿⣋⣵⣾⠿⢛⣩⣵⣶⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣶⣬⣝⡻⢿⣷⣬⡛⢿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠟⣡⡾⢟⣩⣴⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣶⣬⡻⣿⣶⣝⠻⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⢟⣡⠞⣫⣶⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣶⣝⠻⣷⣜⢿⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣿⡟⣱⠟⣡⣾⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣷⣌⠻⣦⠻⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⢏⡴⢋⣾⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣷⡝⣧⠹⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⡿⢣⡾⣱⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡿⠿⣿⡜⢧⠹⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⡿⢡⡿⣱⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠁⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡿⢿⣿⣿⠛⣿⣿⣷⢰⡜⣿⡌⢷⠹⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⢡⡿⢱⣿⣿⢋⣴⢸⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⢇⡇⢿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡟⢿⡇⣆⢻⣿⣷⡘⣿⣿⡎⣧⢹⣿⡜⣧⢻⣿⣿⣿⣿
⣿⣿⣿⣿⢃⣿⢣⣿⣿⣇⣿⡏⣼⣿⣿⣿⢋⡍⣿⣿⣿⣿⣿⣀⢻⣿⣿⣿⡿⣾⣿⢸⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣇⠘⣿⡘⣸⣿⣿⣧⢹⣿⣿⣌⣸⣿⣷⢹⡌⣿⣿⣿⣿
⣿⣿⣿⠃⣼⡏⣾⣿⣿⡟⠟⣰⣿⣿⣿⣿⠺⢃⣿⣿⣿⣿⣿⠟⣼⣿⣿⣿⢣⣿⣿⡘⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⢹⣿⣿⣶⣿⣷⣼⣿⣿⣿⡆⢿⣿⣿⣿⣿⣿⡆⣷⢸⣿⣿⣿
⣿⡿⢡⢰⣿⢸⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣶⣿⣿⣿⡏⣸⣿⣿⡇⢿⣿⣿⣿⣿⢹⣿⣿⣿⣿⡄⣿⣿⣿⣿⣿⣿⣿⣿⣿⣷⢸⣿⣿⣿⣿⣿⣷⢹⣼⣿⣿⣿
⡟⣱⡟⣾⡇⢸⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠂⣿⣿⣿⣿⡘⣿⣿⣿⣿⠈⣿⣿⣿⣿⣷⢸⣿⣿⡿⣿⣿⣿⣿⣿⣿⡆⣿⣿⣿⣿⣿⣿⢸⣿⣿⣿⣿
⣼⣿⡇⣿⠃⢸⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡿⠿⠿⠿⠿⢿⣿⢸⣿⣿⣿⣿⣧⢹⣿⣿⡟⠂⠘⠻⠿⠿⣿⡆⢿⣿⡇⢿⣿⣿⣿⣿⣿⣧⢸⣿⣿⣿⣿⣿⡘⡇⣿⣿⣿
⣿⣿⢷⣿⠀⢸⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡖⢿⣿⣿⣿⣿⡏⢸⣿⣿⣿⣿⣿⡆⢻⣿⣿⡇⢧⠹⣿⣿⣿⣧⠈⣿⣿⢸⣿⣿⣿⣿⣿⣿⠸⣿⣿⣿⣿⣿⣧⠹⡜⢿⣿
⣿⣿⢸⡿⢀⢸⣿⣿⣿⣿⣿⣿⣿⡇⣿⣿⣿⣿⣿⣿⠇⢸⣿⣿⣿⣿⡇⣾⣿⣿⣿⣿⣿⣿⡌⢿⣿⣿⢸⣧⢻⣿⣿⣿⡐⡜⢿⠸⣿⣿⣿⣿⣿⣿⡇⣿⣿⣿⣿⣿⣿⣷⣝⠦⣝
⣿⣿⡘⡇⣿⠸⣿⣿⣿⣿⣿⣿⣿⡇⢻⣿⣿⣿⣿⣿⡆⡌⣿⣿⣿⣿⡇⣿⣿⣿⣿⣿⣿⣿⣿⡌⢿⣿⡈⣿⣆⢻⣿⣿⡇⣿⡌⠄⣿⣿⣿⣿⣿⣿⡀⢿⣿⣿⣿⣿⣿⣿⣿⣷⣮
⣿⣿⡇⡇⣿⡇⢿⣿⣿⡟⣿⣿⣿⣿⢸⣿⣿⣿⣿⣿⡇⣇⢻⣿⣿⣿⡇⢿⣿⣿⣿⣿⣿⣿⣿⣿⣌⢻⡇⣿⣿⣦⢻⣿⣧⢸⣿⡆⣿⣿⣿⣿⣿⣿⣇⣄⢿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣷⠃⣿⠇⡘⣿⣿⣇⣿⣿⣿⣿⣿⣿⠿⠿⠿⠿⠇⠿⠸⠿⠿⠿⢇⢸⣿⣿⣿⣿⣿⣿⣿⣿⠿⠦⠃⠿⠿⠿⠧⠙⠿⠸⠿⡇⣿⢻⣿⣿⣿⣿⣇⣿⠠⡙⢿⣿⣿⣿⡏⠙⣿
⣿⣿⣿⡆⠋⢸⣷⡘⣿⣿⢻⣿⣿⣿⡟⢯⣤⠀⣤⣤⡄⠀⠀⠤⡤⠠⠌⢸⣿⣿⣿⣿⣿⣿⣿⣯⠄⠀⣀⣀⣀⣀⡀⠀⠀⣠⣬⡅⣿⢸⣿⣿⣿⣿⡇⠇⢸⣿⡈⣿⣿⣿⢰⣇⢻
⣿⣿⡟⠡⢊⡄⢿⣷⠌⢿⢸⣿⣿⣿⣇⣈⢉⣀⣉⡩⠥⠶⣶⣀⣠⣾⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣄⡀⠴⠶⠶⠶⠦⣀⣴⢿⣿⢣⣿⢸⣿⣿⣿⣿⡇⢀⣿⣿⡇⣿⡿⣣⣿⣿⢸
⣿⣿⣿⣿⣿⣿⣮⡛⢰⣄⠸⣿⡿⢟⣫⣵⢸⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣧⣤⣿⢸⡇⣸⣿⣿⣿⣿⠇⠛⣿⣿⡇⣋⣼⣿⣿⡏⢫
⣿⣿⣿⣿⣿⣿⣿⣿⣶⣄⢀⣴⠾⢛⣩⣴⢸⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠇⡾⠀⣿⣿⠿⢛⢛⣠⠤⢟⣡⣾⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡌⣴⣾⣿⠿⢛⡸⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠟⠘⡀⠀⣡⣶⣾⣿⣿⣿⣼⣿⣟⣻⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡇⢛⣩⣴⠞⣫⣤⡌⣙⠛⠿⠿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡿⠿⠛⢉⣠⣴⡆⣡⣾⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡇⢛⣩⣴⣿⣿⣿⠇⣿⣷⡙⠀⣦⣌⠉⢟⣛⠛⠛⠿⢿⣿⡿⠟⣛⣿⠋⠉⠉⠀⡀⠀⠀⠈⠋⠈⠆⠹⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⢸⡿⢻⣿⠟⣡⣾⣿⣿⣿⣤⣿⣿⡿⠂⠀⠀⢰⡆⡀⠀⢺⣿⣿⡟⢀⠀⠀⢰⣿⠀⢀⣠⡄⠈⠀⢥⣼⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⢸⡇⣄⣥⣾⣿⣿⣿⣿⣿⣿⡿⢫⣤⣄⣀⠀⢻⡿⢠⣤⠀⠹⠟⣠⣿⣤⠈⢾⣿⠎⠘⣋⣤⣴⣶⣶⡌⢿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣆⣴⣿⣿⣿⣿⣿⣿⣿⣿⡿⢱⣿⣿⣿⣿⣷⡄⠃⣼⣿⣿⣦⣴⣿⣿⣿⣿⣌⠃⣴⣿⣿⣿⣿⣿⣿⣿⡆⢿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⢃⡿⠀⣬⣍⣛⣛⣛⣂⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣷⣬⣛⣛⣛⣛⣛⡋⢹⣿⡌⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿
⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡟⣸⡇⢰⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡇⢸⣿⣷⢹⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿*/

@import url("https://raw.githubusercontent.com/ceeprus/discordDark/main/theme.css");
@import url("https://minidiscordthemes.github.io/Snippets/RoleTint/main.css");
@import url("https://aushevahmad.github.io/awesome-css/modules/vc-membercount.css");

/* ████████████████████████████████████████████████████████████████████████████████████████████████████████*/
/* apple emoji şeyleri*/
@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/ThemeDevBadge.css);
@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/src/Apple/people.css);
@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/src/Apple/nature.css);
@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/src/Apple/food.css);
@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/src/Apple/activity.css);
@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/src/Apple/travel.css);
@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/src/Apple/objects.css);
@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/src/Apple/symbols.css);
@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/src/Apple/flags.css);
/* ████████████████████████████████████████████████████████████████████████████████████████████████████████*/

:root {
	--corner-text: 'Sinop (❁´◡`❁)';
  --theme-h: 0;
  --theme-s: 0%;
  --theme-l: 5%;
--primary-500-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) + 9%);
--primary-530-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) + 5%);
--primary-560-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) + 2%);
--primary-600-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 1%);
--primary-630-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 3%);
--primary-645-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 4%);
--primary-660-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 6%);
--primary-700-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 8%);
--primary-730-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 10%);
--primary-760-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 12%);
--primary-800-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 14%);
--primary-830-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 16%);
--primary-860-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 18%);
--primary-900-hsl: var(--theme-h) var(--theme-s) calc(var(--theme-l) - 20%);

/* color of links */
--accent-1: hsl(323, 41%, 46%);
/* color of unread dividers and some indicators */
--accent-2: hsl(323, 69%, 62%);
/* color of accented buttons */
--accent-3: hsl(323, 48%, 35%);
/* color of accented buttons when hovered */
--accent-4: hsl(323, 69%, 42%);
/* color of accented buttons when clicked */
--accent-5: hsl(323, 69%, 32%);
/* color of mentions and messages that mention you */
--mention: hsla(323, 69%, 72%, 0.08);
/* color of mentions and messages that mention you when hovered */
--mention-hover: hsla(323, 69%, 72%, 0.05);

--brand-experiment: hsl(323, 69%, 72%);
--status-danger: var(--accent-2);
}

/* sol üstteki yazı*/
[class^='wordmarkWindows'] > svg {
	display: none;
}
[class^='wordmarkWindows']::after {
	content: var(--corner-text);
	display: block;
	position: relative;
	height: 16px;
	line-height: 16px;
	font-family: var(--font);
	font-size: 13px;
	font-weight: 900;
	color: var(--text-5);
	transform: scaleX(1.2);
	margin-left: 6px;
}

/* apple emoji şeyleri*/
/* yellow 80px */
.emojiSpriteImage_bcf389[style*='background-image: url("/assets/ed4ec792263b61d01fd3.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/Apple/yellow_80.png") !important;
}

/* light 80px */
.emojiSpriteImage_bcf389[style*='background-image: url("/assets/f4390297a582e34b8284.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/Apple/light_80.png") !important;
}

/* light_medium 80px */
.emojiSpriteImage_bcf389[style*='background-image: url("/assets/f09bcac9692c1fd5e30a.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/Apple/light_medium_80.png") !important;
}

/* medium 80px */
.emojiSpriteImage_bcf389[style*='background-image: url("/assets/14f2e28d6a38d6b6910a.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/Apple/medium_80.png") !important;
}

/* dark_medium 80px */
.emojiSpriteImage_bcf389[style*='background-image: url("/assets/6ecc96842a58c81ab7f0.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/Apple/dark_medium_80.png") !important;
}

/* dark 80px */
.emojiSpriteImage_bcf389[style*='background-image: url("/assets/af91566c0347ee808b38.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/Apple/dark_80.png") !important;
}

/* emoji 80px */
.emojiSpriteImage_bcf389[style*='background-image: url("/assets/ec1e5548cff444b412ff.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/Apple/emoji_80.png") !important;
}

/* yellow 96px */
.emojiSpriteImage_bcf389[style*='background-image: url("/assets/f635361f4b5fd800e607.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/Apple/yellow_96.png") !important;
}

/* light 96px */
.emojiSpriteImage_bcf389[style*='background-image: url("/assets/76b66f04d404c3120a70.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/Apple/light_96.png") !important;
}

/* light_medium 96px */
.emojiSpriteImage_bcf389[style*='background-image: url("/assets/8ef10f8773903d88d9e2.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/Apple/light_medium_96.png") !important;
}

/* medium 96px */
.emojiSpriteImage_bcf389[style*='background-image: url("/assets/64178cf22204679b06a2.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/Apple/medium_96.png") !important;
}

/* dark_medium 96px */
.emojiSpriteImage_bcf389[style*='background-image: url("/assets/bcde2038e753f42fc3c3.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/Apple/dark_medium_96.png") !important;
}

/* dark 96px */
.emojiSpriteImage_bcf389[style*='background-image: url("/assets/0c7da966cea29fba4790.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/Apple/dark_96.png") !important;
}

/* emoji 96px */
.emojiSpriteImage_bcf389[style*='background-image: url("/assets/23101e35c61b520c1471.png")'] {
	background-image: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/spritesheets/Apple/emoji_96.png") !important;
}

/* pembe taç */
svg[aria-label="Server Owner"] {
    color: hsl(323, 75%, 61%);
}

/* evangelion shinji loader */
.container_e40c16.fixClipping_c7e9c6 > .content_e40c16 {
  position: relative;
}
.container_e40c16.fixClipping_c7e9c6 > .content_e40c16 .ready_e40c16 {
  display: none;
}
.container_e40c16.fixClipping_c7e9c6 > .content_e40c16 .ready_e40c16 + .text_e40c16 {
  top: 50px;
}
.container_e40c16.fixClipping_c7e9c6 > .content_e40c16::before {
  content: "";
  position: absolute;
  bottom: 10px;
  left: calc(50% - 100px);
  width: 200px;
  height: 200px;
  background: url("https://i.ibb.co/jyNTkt6/e9e9bc4f350b984809f19ba230277800.gif?raw=true") center/80% no-repeat !important;
  image-rendering: pixelated;
}

/* konata */
[class^="panels_a4d4d9"]::before {
  content: "";
  width: 100px;
  height: 60px;
  left: 154px;
  margin-top: -54px;
  position: absolute;
  background-image: url("https://cdn.discordapp.com/emojis/1281960377235804194.gif?size=96&quality=lossless");
}

/* bot isimleri fix*/
span[class^="botTag"] > span[class^="botText"] {
  display: inline !important;
}
span[class^="botTag"]::after {
  content: unset !important;
}

/* Custom Emoji Button */
.sprite_d91a75.spriteColored_d91a75 {
  background-image: url(https://cdn.discordapp.com/emojis/1259892438928064623.gif?size=96&quality=lossless);
  background-size: 24px;
}
.sprite_d91a75.spriteGreyscale_d91a75 {
  mask-image: url(https://cdn.discordapp.com/emojis/1219937235571572826.gif?size=96&quality=lossless);
  mask-size: 24px;
}

/* stream pip */
div:not(:has(.videoWrapper_f8a4f3)) + .pictureInPicture_e0c856,
div:not(:has(.videoWrapper_f8a4f3)) + .pictureInPicture_e0c856 * {
    opacity: 0.85; /* Opaklık %50'ye ayarlanmıştır, istediğin değeri kullanabilirsin */
}

/* susturulmus kanalların emojileri*/
[class*="modeMuted_"]:has([class^="icon_"]) [class^="name_"] {
    color: var(--channel-icon);
    opacity: 35%;
}

/*silly vencord settings gif changer*/
img[role="presentation"] {
  content: url('https://cdn.discordapp.com/emojis/1278304862387441674.gif') !important;
  transform: rotate(0deg) !important;
}

[id*="popout_"]::after, [class*=menu]::after {
    content: "";
    position: absolute;
    top: -50px;
    right: 0;
    width: 50px;
    height: 50px;
    background-image: url('https://cdn.discordapp.com/emojis/1259892438928064623.gif');
    background-size: cover;
}

/* rapor tuşu ve yazı kopuyalama tuşunu aktif eder*/
[id="message-report"],
[id="message-copy-text"] { 
  display: flex ; 
}

/* set channel status */
.linkBottom_d8bfb3 {
  display: block;
}

/* boş işleri gizliyoz*/
/* kullanıcı sağ click*/
#user-context-user-profile, /*sinopadana*/
#user-context-mention,
#user-context-note,
#user-context-add-friend-nickname,
#user-context-secure-frames-user-verification,
#user-context-vc-view-user-raw,
#user-context-view-avatar,
#user-context-mod-view,
#user-context-apps,
#user-context-verify,
#user-context-roles,
#user-context-perm-viewer-permissions,
#user-context-remove-friend,
#user-context-block,
#user-context-vc-rdb-user-reviews,
#user-context-ban,
#user-context-kick,
#user-context-timeout,
.separator_d90b3d,
/* chatteki boş işleri kapama*/
#message-mark-unread,
#message-add-reaction,
.wrapper_a24e84,
.button_f7e168[aria-label="Mark Unread"],
.button_f7e168[aria-label="View Raw (Left Click) / Copy Raw (Right Click)"],
/* sunucu klasörlerini gizle*/
.wrapper_bc7085
{
    display: none;
}
